@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  display: grid;
  position: relative;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading h3 {
  font-size: 25px;
  padding: 30px 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading h3::selection, span::selection {
    background: yellow;
}

.tagline {
  margin: 0 0 30px 0;
  width: auto;
}

.tagline p {
  background-color: #f2f2f2;
  font-size: 17px;
  width: 400px;
  font-weight: 500;
  border: 1px double gray;
  border-radius: 3px;
  padding: 20px;
}
.tagline p::selection {
    background: yellow;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.listening-input {
  position: relative;
  height: 300px;
  right: 0;
  width: 100%;
  margin-bottom: 10px;
}

.listening-input p {
  text-align: left;
  padding: 20px;
  height: 300px;
  width: 900px;
  overflow-y: auto;
  float: right;
  background-color: #f2f2f2;
  margin: 0 50px 0 0;
  border: 1px double gray;
  border-radius: 3px;
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.listening-input p::selection {
    background: yellow;
}
.buttons button {
  width: 200px;
  height: 35px;
  outline: none;
  border: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #6aa3f4;
  letter-spacing: 1.5px;
  transition: background-color 0.3s ease;
}
.buttons button:hover {
  border: 2px dotted black;
  background-color: #6aa3f471;
}
.status1 {
  display: none;
  padding-bottom: 5px;
}

.copy {
  margin-right: 65px;
}
.copy:hover,
.copy:focus {
  border: none;
}
footer {
  margin: 20px auto;
  color: gray;
}

.copyright::selection {
  background: red;
  color: yellow;
}

/* tablet */
@media (max-width: 1024px) {
  .listening-input p {
    margin: 0;
    width: 100%;
  }

  .copy {
    margin-right: 0;
  }
  .container {
    padding: 10px;
  }
  .tagline {
    width: 100%;
  }
}
/* mobile */
@media (max-width: 768px) {
  .status1 {
    display: block;
    font-weight: bold;
  }
  .buttons {
    margin-top: 14px;
  }
  .buttons button {
    width: 100%;
    height: 40px;
  }
}
